
    <!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<title>HANYANG STARUP LOUNGE</title>
<link rel="shortcut icon" href="../img/favicon.ico">
<link rel="apple-touch-icon" href="../apple-touch-icon.png">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/sub_import.css" />
</head><body>  
<div id="wrap">
<div class="wrap">
    <div id="headerwrap">
	<header id="header">
		<h1><a href="index.html"><img src="../img/logo.png" alt="HANYANG STARTUP LOUNGE" /></a></h1>
		<nav id="nav">
			<ul class="gnb">
				<li>
					<a href="eng_sub_1about_1.html">About</a>
					<ul class="sgnb">
						<li><a href="eng_sub_1about_1.html">Greeting</a></li>
						<li><a href="eng_sub_1about_2.html">Startup Lounge</a></li>
						<li><a href="eng_sub_1about_3.html">Center for Global Enterpreneurship</a></li>
					</ul>
				</li>
				<li>
					<a href="eng_sub_2programs_1education_1.html">Programs</a>
					<ul class="sgnb">
						<li><a href="eng_sub_2programs_1education_1.html">Education</a></li>
						<li><a href="eng_sub_2programs_3training_1.html">Training</a></li>
						<li><a href="eng_sub_2programs_2networking_1.html">Networking</a></li>
						<li><a href="eng_sub_2programs_4incubating_1.html">Incubating</a></li> 
					</ul>
				</li>
				<li>
					<a href="eng_sub_3angelinvestmentfund_1.html">Angel Investment Fund</a>
					<ul class="sgnb">
						<li><a href="eng_sub_3angelinvestmentfund_1.html">Hanyang Angel Club</a></li>
						<li><a href="eng_sub_3angelinvestmentfund_2.html">Hanyang Youth Startup Fund</a></li>
						<li><a href="eng_sub_3angelinvestmentfund_3.html">Crowd Funding</a></li>
					</ul>
				</li>
				<li>
					<a href="eng_sub_4startupinfo_1.html">Startup Info</a>
					<ul class="sgnb">
						<li><a href="eng_sub_4startupinfo_1.html">Notice & News</a></li>
						<li><a href="eng_sub_4startupinfo_2gallery.html">Gallery</a></li>
					</ul>
				</li>
			</ul>
		</nav><!-- //nav -->
		<div id="language">
			<p>LANGUAGE</p>
			<ul>
				<li><a href="http://startup.hanyang.ac.kr/" target="_blank">Korean</a></li>
				<li><a href="http://startup.hanyang.ac.kr/en">English</a></li>
				<li><a href="http://startup.hanyang.ac.kr/cn" target="_blank">Chinese</a></li>
			</ul>
		</div>
		<div class="top_gnb">
			<ul>
				<li><a href="/">HOME</a></li>
				<li><a href="http://www.hanyang.ac.kr/" target="_blank">HANYANG UNIVERSITY</a></li>
				<li class="lang_btn kr_btn"><a href="http://startup.hanyang.ac.kr/" target="_blank"><span class="sr-only">Korean</span></a></li>
				<li class="lang_btn en_btn"><a href="http://startup.hanyang.ac.kr/en"><span class="sr-only">English</span></a></li>
				<li class="lang_btn ch_btn"><a href="http://startup.hanyang.ac.kr/cn" target="_blank"><span class="sr-only">Chinese</span></a></li>
			</ul>
		</div>
		
	</header><!-- //header -->
	<div id="menu">
		<p><a href="#" class="sitemap_open"><img src="../img/menu_btn.png" alt="menu btn" /></a></p>
	</div><!-- //menu -->
</div><!-- //headerwrap -->
	
	
	
		<div id="containerwrap">
			<div class="programs_tab">
				<ul class="incubating_tab">
					<li>
						<a href="eng_sub_2programs_4incubating_1.html">Center for Business Incubation</a>
					</li>
					<li>
						<a href="eng_sub_2programs_4incubating_2.html">Venturing Space Sponsored by Alumni</a>
					</li>
					<li class="selected">
						<a href="eng_sub_2programs_4incubating_3.html">Alumni Startup Sauna</a>
					</li>
					<li class="last">
						<a href="eng_sub_2programs_4incubating_4.html">Startup Club</a>
					</li>
				</ul>
			</div><!-- //programs_tab -->
			<div id="container"><div class="conwrap">
							<div id="incubating_alumni">
								<h3>
									Alumni Startup Sauna
								</h3>
								<p class="txt1">
									Contribute to a stable business development through cooperation as a common startup space for alumni to foster 1-person alumni entrepreneurs, by providing 1 free seat per person
								</p>
								<dl>
									<dt>
										Support Details
									</dt>
									<dd>
										ㆍProvide professional advisory services of legal affairs/taxation/labor/patent, etc. by center partners<br />
										ㆍSupport business development such as patent application fee, promotion/marketing cost, etc. <br />
										ㆍConnection with the opportunities of startup funds investment through Hanyang Angel Fund and Hanyang Youth Startup Fund<br />
										ㆍPreference on taking startup education such as Hanyang Start-up Academy, Smart Creation Site, etc. <br />
										ㆍFree participation in entrepreneur nurture programs – Entrepreneur Forum, Mentoring Café, etc.<br />
										ㆍCan use 50 kinds of experiment equipment in the common equipment room and library for free<br />
										ㆍConnection to university-industry cooperation programs with Hanyang University professors and researchers
									</dd>
								</dl>
							</div><!-- //incubating_alumni --></div>
			</div><!-- //container -->
		</div><!-- //containerwrap -->

</div><!-- //wrap -->

    
    <div id="con_bottom">
  <div class="conwrap">
  	<div class="rolling">
        <ul>
            <li><a href="http://platum.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner25.png"></a></li>
            <li><a href="http://home.kban.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner26.png"></a></li>
            <li><a href="http://www.koef.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner27.png"></a></li>
            <li><a href="#" target="_blank" onclick="return false;"><img src="../img/linkbanner/linkbanner28.png"></a></li>
            <li><a href="http://www.gomentoring.or.kr/main/main.html" target="_blank"> <img src="../img/linkbanner/linkbanner2.png"></a></li>
            <li><a href="http://www.msip.go.kr/web/main/main.do" target="_blank"><img src="../img/linkbanner/linkbanner3.png"></a></li>
            <li><a href="http://www.motie.go.kr/www/wwwMain/main.do" target="_blank"><img src="../img/linkbanner/linkbanner4.png"></a></li>
            <li><a href="http://www.sba.seoul.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner5.png"></a></li>
            <li><a href="http://www.smba.go.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner6.png"></a></li>
            <li><a href="http://www.startup.go.kr/main.do" target="_blank"><img src="../img/linkbanner/linkbanner7.png"></a></li>
            <li><a href="http://www.kised.or.kr/" target="_blank"><img src="../img/linkbanner/linkbanner8.png"></a></li>
            <li><a href="http://www.creativekorea.or.kr/" target="_blank"><img src="../img/linkbanner/linkbanner9.png"></a></li>
            <li><a href="https://ccei.creativekorea.or.kr/main.do" target="_blank"><img src="../img/linkbanner/linkbanner10.png"></a></li>
            <li><a href="http://www.kocca.kr/" target="_blank"><img src="../img/linkbanner/linkbanner11.png"></a></li>
            <li><a href="http://besuccess.com/" target="_blank"> <img src="../img/linkbanner/linkbanner12.png"></a></li>
            <li><a href="http://www.bizinfo.go.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner13.png"></a></li>
            <li><a href="http://www.ceokf.com/" target="_blank"> <img src="../img/linkbanner/linkbanner14.png"></a></li>
            <li><a href="http://dcamp.kr/about" target="_blank"> <img src="../img/linkbanner/linkbanner15.png"></a></li>
            <li><a href="http://hbakorea.com/html/" target="_blank"> <img src="../img/linkbanner/linkbanner16.png"></a></li>
            <li><a href="http://www.jointips.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner17.png"></a></li>
            <li><a href="https://www.venturein.or.kr/venturein/index.jsp" target="_blank"> <img src="../img/linkbanner/linkbanner18.png"></a></li>
            <li><a href="https://www.facebook.com/GlobalStartupNetwork" target="_blank"> <img src="../img/linkbanner/linkbanner19.png"></a></li>
            <li><a href="http://www.thecircle.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner20.png"></a></li>
            <li><a href="http://www.maru180.com/pcindex.html" target="_blank"> <img src="../img/linkbanner/linkbanner21.png"></a></li>
            <li><a href="http://www.venturesquare.net/" target="_blank"> <img src="../img/linkbanner/linkbanner22.png"></a></li>
            <li><a href="http://www.creation.seoul.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner23.png"></a></li>
            <li><a href="http://www.poscoventure.co.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner24.png"></a></li>
            <li><a href="http://platum.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner25.png"></a></li>
            <li><a href="http://home.kban.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner26.png"></a></li>
            <li><a href="http://www.koef.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner27.png"></a></li>
            <li><a href="#" target="_blank" onclick="return false;"><img src="../img/linkbanner/linkbanner28.png"></a></li>
            <li><a href="http://www.gomentoring.or.kr/main/main.html" target="_blank"><img src="../img/linkbanner/linkbanner2.png"></a></li>
            <li><a href="http://www.msip.go.kr/web/main/main.do" target="_blank"><img src="../img/linkbanner/linkbanner3.png"></a></li>
            <li><a href="http://www.motie.go.kr/www/wwwMain/main.do" target="_blank"><img src="../img/linkbanner/linkbanner4.png"></a></li>
            <li><a href="http://www.sba.seoul.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner5.png"></a></li>
            <li><a href="http://www.smba.go.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner6.png"></a></li>
        </ul>
        <a href="#none" class="roll_prev"></a>
        <a href="#none" class="roll_next"></a>
  	</div>
  </div>
</div>
<div id="footerwrap">
	<footer id="footer">
		<h1><a href="index.html"><img src="../img/footer_logo.png" alt="한양대학교" /></a></h1>
		<address>Center for Global Entrepreneurship, HANYANG UNIVERSITY<br>HIT #504, 222 Wangsimni-ro, Seongdong-gu, Seoul, 133-791, Korea<br>Tel: +82-2-2220-2861  Fax: +82-2220-2869   Email: center@hanyang.ac.kr</address>
		<p>&copy; 2016. Center for Global Entrepreneurship. All rights reserved.</p>
	</footer><!-- //footer -->
</div><!-- //footerwrap -->


 <!-- sitemap -->
<div class="sitemap">
	<div class="wrap">
		<div class="row">
			<div class="col-sm-6">
				<dl>
					<dt>About</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_1about_1.html">Greeting</a></li>
							<li><a href="eng_sub_1about_2.html">Startup Lounge</a></li>
							<li><a href="eng_sub_1about_3.html">Center for Global Enterpreneurship</a></li>
						</ul>
					</dd>
					<dt>Programs</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_2programs_1education_1.html">Education</a></li>
							<li><a href="eng_sub_2programs_2networking_1.html">Training</a></li>
							<li><a href="eng_sub_2programs_3training_1.html">Networking</a></li>
							<li><a href="eng_sub_2programs_4incubating_1.html">Incubating</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6">
				<dl>
					<dt>Angel Investment Fund</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_3angelinvestmentfund_1.html">Hanyang Angel Club</a></li>
							<li><a href="eng_sub_3angelinvestmentfund_2.html">Hanyang Youth Startup Fund</a></li>
							<li><a href="eng_sub_3angelinvestmentfund_3.html">Crowd Funding</a></li>
						</ul>
					</dd>
					<dt>Startup Info</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_4startupinfo_1.html">Notice &amp; News</a></li>
							<li><a href="eng_sub_4startupinfo_2gallery.html">Gallery</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<!-- /.col-sm-6 -->
		</div>
		<!-- /.row -->
    <a href="#none" class="sitemap_close"><span class="sr-only">사이트맵 닫기</span></a>
	</div>
	<!-- /.wrap -->
</div>
<!-- /.sitemap -->


    
    <script src="../js/jquery.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.cycle2.js"></script>
<script src="../js/common.js"></script>
<script src="../js/login_popup.js"></script>
<script src="../js/hogi.js"></script>
<script src="../js/jquery.hogi.marquee.js"></script>
</div><!-- //wrap -->
</body>
</html>




