
    <!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<title>HANYANG STARUP LOUNGE</title>
<link rel="shortcut icon" href="../img/favicon.ico">
<link rel="apple-touch-icon" href="../apple-touch-icon.png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/import.css" />
</head><body>  
<div id="wrap">
	<div class="wrap">
    <div id="headerwrap">
	<header id="header">
		<h1><a href="index.html"><img src="../img/logo.png" alt="HANYANG STARTUP LOUNGE" /></a></h1>
		<nav id="nav">
			<ul class="gnb">
				<li>
					<a href="eng_sub_1about_1.html">About</a>
					<ul class="sgnb">
						<li><a href="eng_sub_1about_1.html">Greeting</a></li>
						<li><a href="eng_sub_1about_2.html">Startup Lounge</a></li>
						<li><a href="eng_sub_1about_3.html">Center for Global Enterpreneurship</a></li>
					</ul>
				</li>
				<li>
					<a href="eng_sub_2programs_1education_1.html">Programs</a>
					<ul class="sgnb">
						<li><a href="eng_sub_2programs_1education_1.html">Education</a></li>
						<li><a href="eng_sub_2programs_3training_1.html">Training</a></li>
						<li><a href="eng_sub_2programs_2networking_1.html">Networking</a></li>
						<li><a href="eng_sub_2programs_4incubating_1.html">Incubating</a></li> 
					</ul>
				</li>
				<li>
					<a href="eng_sub_3angelinvestmentfund_1.html">Angel Investment Fund</a>
					<ul class="sgnb">
						<li><a href="eng_sub_3angelinvestmentfund_1.html">Hanyang Angel Club</a></li>
						<li><a href="eng_sub_3angelinvestmentfund_2.html">Hanyang Youth Startup Fund</a></li>
						<li><a href="eng_sub_3angelinvestmentfund_3.html">Crowd Funding</a></li>
					</ul>
				</li>
				<li>
					<a href="eng_sub_4startupinfo_1.html">Startup Info</a>
					<ul class="sgnb">
						<li><a href="eng_sub_4startupinfo_1.html">Notice & News</a></li>
						<li><a href="eng_sub_4startupinfo_2gallery.html">Gallery</a></li>
					</ul>
				</li>
			</ul>
		</nav><!-- //nav -->
		<div id="language">
			<p>LANGUAGE</p>
			<ul>
				<li><a href="http://startup.hanyang.ac.kr/" target="_blank">Korean</a></li>
				<li><a href="http://startup.hanyang.ac.kr/en">English</a></li>
				<li><a href="http://startup.hanyang.ac.kr/cn" target="_blank">Chinese</a></li>
			</ul>
		</div>
		<div class="top_gnb">
			<ul>
				<li><a href="/">HOME</a></li>
				<li><a href="http://www.hanyang.ac.kr/" target="_blank">HANYANG UNIVERSITY</a></li>
				<li class="lang_btn kr_btn"><a href="http://startup.hanyang.ac.kr/" target="_blank"><span class="sr-only">Korean</span></a></li>
				<li class="lang_btn en_btn"><a href="http://startup.hanyang.ac.kr/en"><span class="sr-only">English</span></a></li>
				<li class="lang_btn ch_btn"><a href="http://startup.hanyang.ac.kr/cn" target="_blank"><span class="sr-only">Chinese</span></a></li>
			</ul>
		</div>
		
	</header><!-- //header -->
	<div id="menu">
		<p><a href="#" class="sitemap_open"><img src="../img/menu_btn.png" alt="menu btn" /></a></p>
	</div><!-- //menu -->
</div><!-- //headerwrap -->
	
	<div id="visualwrap">
	<section id="visual">
		<article id="main_visual">
			<ul class="visual-content">
				<li>
					<img src="../img/visual/visual_1.jpg" alt="" />
					<div class="visual-info">
						<h1 class="sr-only">HANYANG<br>STARTUP LOUNGE<br>LEAD THE WORLD<br>WITH VISION</h1>
						<p class="sr-only">Hanyang Startup Lounge is an open <br>platform of portal type where you can easily find <br>and share information about all startups through <br>startup support education, related programs, <br>and mentor-mentee connection, etc. </p>
						
					</div>
				</li>
			</ul>
			<!-- 
			<div class="control">
				<a href="#none" class="btn_prev"></a>
				<a href="#none" class="btn_next"></a>
			</div>
			<div class="btn_pager">
				<a href="#none" class="on"></a>
				<a href="#none"></a>
				<a href="#none"></a>
			</div>
			 -->
		</article>
	</section>
	<section class="visual_banner">
		<a href="eng_sub_1about_1.html" ><span class="point">To see</span> a greeting <i class="fa fa-angle-right point" aria-hidden="true"></i></a>
	</section>
</div>
	
	<div id="containerwrap">
	<div id="container">
		<div class="notice">
			<div class="conwrap">
				<h2 class="main_content_tit">Notice &amp; News</h2>
				<iframe id="noticeList" style="width:100%;" src="/services/en/startupInfo/MainNoticelist" scrolling="no"></iframe>
			</div>
		</div>
		<div class="program">
			<div class="conwrap">
				<h2 class="main_content_tit">Program</h2>
				<ul>
					<li class="pro_edu"><a href="eng_sub_2programs_1education_1.html"><span>EDUCATION</span></a></li>
					<li class="pro_tra"><a href="eng_sub_2programs_3training_1.html"><span>TRAINING</span></a></li>
					<li class="pro_net"><a href="eng_sub_2programs_2networking_1.html"><span>NETWORKING</span></a></li>
					<li class="pro_inc"><a href="eng_sub_2programs_4incubating_1.html"><span>INCUBATING</span></a></li>
				</ul>
			
			</div>
		</div>
		<div class="innovation" >
			<div class="conwrap">
				<h2 class="main_content_tit">INNOVATION &amp; ENTREPRENEURSHIP CENTER</h2>
				<div class="text_box">
					<dl>
						<dt>Actively plans to use it as an overseas <br>base that supports the global employment <br>and startups of Hanyang University <br>students</dt>
						<dd>
							<strong>Center Roles</strong>
							<ul>				
								<li>- Connections of global employment and startup internships between Hanyang University students and local companies</li>
								<li>- Support the startups of Hanyang University students and alumni’s advancement into local areas</li>
								<li>- University-industry cooperation between Hanyang University and local companies</li>
								<li>- Analyze the trend of local IT industry and startup environment, collect and deliver information, etc.</li>
							</ul>
						</dd>
						
					</dl>
					<table>
						<tr>
							<th>SEOUL HEADQUARTERS, KOREA</th>
							<td>Center for Global Entrepreneurship, HANYANG UNIVERSITY<br>04763, HIT #504, 222 Wangsimni-ro, Seongdong-gu, Seoul, Korea</td>
						</tr>
						<tr>
							<th>SILICON VALLEY OFFICE, USA</th>
							<td>Innovation &amp; Entrepreneurship Center, Silicon Valley Office<br>3003 North 1st Street. San Jose, CA 95134, USA</td>
						</tr>
						<tr>
							<th>NEW YORK OFFICE, USA</th>
							<td>Innovation &amp; Entrepreneurship Center, New York Office<br>419 Lafayette Street, 6th floor, New York 10003, USA</td>
						</tr>
						<tr>
							<th>SHANGHAI OFFICE, CHINA</th>
							<td>Innovation &amp; Entrepreneurship Center, Shanghai Office Room 5A, Xujiahui <br>International building, No.1033, Zhaojiabang Road, Xuhui District, Shanghai</td>
						</tr>
						<tr>
							<th>YANCHENG OFFICE, CHINA</th>
							<td>It will be updated soon</td>
						</tr>
						<tr>
							<th>BEIJING OFFICE, CHINA</th>
							<td>It will be updated soon</td>
						</tr>
						<tr>
							<th>HANOI OFFICE, VEITNAM</th>
							<td>It will be updated soon</td>
						</tr>
					</table>
					
					
				</div>
				
			</div>
		</div>
	</div>
</div>

</div><!-- //wrap -->
    <div id="con_bottom">
  <div class="conwrap">
  	<div class="rolling">
        <ul>
            <li><a href="http://platum.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner25.png"></a></li>
            <li><a href="http://home.kban.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner26.png"></a></li>
            <li><a href="http://www.koef.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner27.png"></a></li>
            <li><a href="#" target="_blank" onclick="return false;"><img src="../img/linkbanner/linkbanner28.png"></a></li>
            <li><a href="http://www.gomentoring.or.kr/main/main.html" target="_blank"> <img src="../img/linkbanner/linkbanner2.png"></a></li>
            <li><a href="http://www.msip.go.kr/web/main/main.do" target="_blank"><img src="../img/linkbanner/linkbanner3.png"></a></li>
            <li><a href="http://www.motie.go.kr/www/wwwMain/main.do" target="_blank"><img src="../img/linkbanner/linkbanner4.png"></a></li>
            <li><a href="http://www.sba.seoul.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner5.png"></a></li>
            <li><a href="http://www.smba.go.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner6.png"></a></li>
            <li><a href="http://www.startup.go.kr/main.do" target="_blank"><img src="../img/linkbanner/linkbanner7.png"></a></li>
            <li><a href="http://www.kised.or.kr/" target="_blank"><img src="../img/linkbanner/linkbanner8.png"></a></li>
            <li><a href="http://www.creativekorea.or.kr/" target="_blank"><img src="../img/linkbanner/linkbanner9.png"></a></li>
            <li><a href="https://ccei.creativekorea.or.kr/main.do" target="_blank"><img src="../img/linkbanner/linkbanner10.png"></a></li>
            <li><a href="http://www.kocca.kr/" target="_blank"><img src="../img/linkbanner/linkbanner11.png"></a></li>
            <li><a href="http://besuccess.com/" target="_blank"> <img src="../img/linkbanner/linkbanner12.png"></a></li>
            <li><a href="http://www.bizinfo.go.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner13.png"></a></li>
            <li><a href="http://www.ceokf.com/" target="_blank"> <img src="../img/linkbanner/linkbanner14.png"></a></li>
            <li><a href="http://dcamp.kr/about" target="_blank"> <img src="../img/linkbanner/linkbanner15.png"></a></li>
            <li><a href="http://hbakorea.com/html/" target="_blank"> <img src="../img/linkbanner/linkbanner16.png"></a></li>
            <li><a href="http://www.jointips.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner17.png"></a></li>
            <li><a href="https://www.venturein.or.kr/venturein/index.jsp" target="_blank"> <img src="../img/linkbanner/linkbanner18.png"></a></li>
            <li><a href="https://www.facebook.com/GlobalStartupNetwork" target="_blank"> <img src="../img/linkbanner/linkbanner19.png"></a></li>
            <li><a href="http://www.thecircle.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner20.png"></a></li>
            <li><a href="http://www.maru180.com/pcindex.html" target="_blank"> <img src="../img/linkbanner/linkbanner21.png"></a></li>
            <li><a href="http://www.venturesquare.net/" target="_blank"> <img src="../img/linkbanner/linkbanner22.png"></a></li>
            <li><a href="http://www.creation.seoul.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner23.png"></a></li>
            <li><a href="http://www.poscoventure.co.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner24.png"></a></li>
            <li><a href="http://platum.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner25.png"></a></li>
            <li><a href="http://home.kban.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner26.png"></a></li>
            <li><a href="http://www.koef.or.kr/" target="_blank"> <img src="../img/linkbanner/linkbanner27.png"></a></li>
            <li><a href="#" target="_blank" onclick="return false;"><img src="../img/linkbanner/linkbanner28.png"></a></li>
            <li><a href="http://www.gomentoring.or.kr/main/main.html" target="_blank"><img src="../img/linkbanner/linkbanner2.png"></a></li>
            <li><a href="http://www.msip.go.kr/web/main/main.do" target="_blank"><img src="../img/linkbanner/linkbanner3.png"></a></li>
            <li><a href="http://www.motie.go.kr/www/wwwMain/main.do" target="_blank"><img src="../img/linkbanner/linkbanner4.png"></a></li>
            <li><a href="http://www.sba.seoul.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner5.png"></a></li>
            <li><a href="http://www.smba.go.kr/kr/index.do" target="_blank"><img src="../img/linkbanner/linkbanner6.png"></a></li>
        </ul>
        <a href="#none" class="roll_prev"></a>
        <a href="#none" class="roll_next"></a>
  	</div>
  </div>
</div>
<div id="footerwrap">
	<footer id="footer">
		<h1><a href="index.html"><img src="../img/footer_logo.png" alt="한양대학교" /></a></h1>
		<address>Center for Global Entrepreneurship, HANYANG UNIVERSITY<br>HIT #504, 222 Wangsimni-ro, Seongdong-gu, Seoul, 133-791, Korea<br>Tel: +82-2-2220-2861  Fax: +82-2220-2869   Email: center@hanyang.ac.kr</address>
		<p>&copy; 2016. Center for Global Entrepreneurship. All rights reserved.</p>
	</footer><!-- //footer -->
</div><!-- //footerwrap -->


 <!-- sitemap -->
<div class="sitemap">
	<div class="wrap">
		<div class="row">
			<div class="col-sm-6">
				<dl>
					<dt>About</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_1about_1.html">Greeting</a></li>
							<li><a href="eng_sub_1about_2.html">Startup Lounge</a></li>
							<li><a href="eng_sub_1about_3.html">Center for Global Enterpreneurship</a></li>
						</ul>
					</dd>
					<dt>Programs</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_2programs_1education_1.html">Education</a></li>
							<li><a href="eng_sub_2programs_2networking_1.html">Training</a></li>
							<li><a href="eng_sub_2programs_3training_1.html">Networking</a></li>
							<li><a href="eng_sub_2programs_4incubating_1.html">Incubating</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6">
				<dl>
					<dt>Angel Investment Fund</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_3angelinvestmentfund_1.html">Hanyang Angel Club</a></li>
							<li><a href="eng_sub_3angelinvestmentfund_2.html">Hanyang Youth Startup Fund</a></li>
							<li><a href="eng_sub_3angelinvestmentfund_3.html">Crowd Funding</a></li>
						</ul>
					</dd>
					<dt>Startup Info</dt>
					<dd>
						<ul>
							<li><a href="eng_sub_4startupinfo_1.html">Notice &amp; News</a></li>
							<li><a href="eng_sub_4startupinfo_2gallery.html">Gallery</a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<!-- /.col-sm-6 -->
		</div>
		<!-- /.row -->
    <a href="#none" class="sitemap_close"><span class="sr-only">사이트맵 닫기</span></a>
	</div>
	<!-- /.wrap -->
</div>
<!-- /.sitemap -->


    
    <script src="../js/jquery.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.cycle2.js"></script>
<script src="../js/common.js"></script>
<script src="../js/login_popup.js"></script>
<script src="../js/hogi.js"></script>
<script src="../js/jquery.hogi.marquee.js"></script>
</div><!-- //wrap -->
</body>
</html>
